@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<div class="background">
    <img class="votor-sidenav-image" src="~/images/votor_logo.png">
</div>

<li>
	<a asp-area="Identity" asp-page="/Account/Register">
		@Localizer["Register"]
	</a>
</li>
<li>
	<a asp-area="Identity" asp-page="/Account/Login">
		@Localizer["Login"]
	</a>
</li>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded",
		function () {
			$('.sidenav').sidenav();
		});
</script>

