@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="row">
	<div class="col s12 m6 l4 offset-m3 offset-l4">
		<div class="card @ViewBag.cardColor">
			<div class="card-content @ViewBag.cardTextColor">
				<span class="card-title">@ViewData["Title"]</span>
				<p class="text-danger">You do not have access to this resource.</p>
			</div>
		</div>
	</div>
</div>



