@page
@using Microsoft.Extensions.Localization
@model ForgotPasswordConfirmation
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}

<div class="row">
	<div class="col s12 m8 l6 offset-m2 offset-l3">
		<div class="card @ViewBag.cardColor">
			<div class="card-content @ViewBag.cardTextColor">
				<span class="card-title card-title-weight-400">@Localizer["Forgot password confirmation"]</span>
				<span class="black-text">@Localizer["A link to reset your password has been sent. Please check your inbox."]</span>
			</div>
		</div>
	</div>
</div>



