@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = @Localizer["Manage account"];
}

<div class="row">
    <div class="col s12 m8 l8 offset-m2 offset-l2">
        <partial name="_ManageNav" />
    </div>

    <div class="col s12 m8 l8 offset-m2 offset-l2">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
