@page
@using Microsoft.Extensions.Localization
@model ChangePasswordModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Change password"];
    ViewBag.Title = ViewData["Title"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

        
<form id="change-password-form" method="post">

    <div asp-validation-summary="All" class="red-text text-darken-1">

    </div>

    <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword"/>
        <span asp-validation-for="Input.OldPassword" class="red-text text-darken-1"></span>
    </div>

    <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" />
        <span asp-validation-for="Input.NewPassword" class="red-text text-darken-1"></span>
    </div>

    <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="red-text text-darken-1"></span>
    </div>
    <button type="submit" class="btn waves-effect waves-light @ViewBag.mainColor" style="width: 100%;">
        @Localizer["Update password"]
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
