@page
@using Microsoft.Extensions.Localization
@model SetPasswordModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Set password"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="card">
    <div class="card-content">
        <span class="card-title">@ViewData["Title"]</span>
    
        <form id="set-password-form" method="post">

            @Localizer["You do not have a local password for this site. Set a password to log in without an external login."]

            <div asp-validation-summary="All" class="red-text text-darken-1"></div>

            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" />
                <span asp-validation-for="Input.NewPassword" class="red-text text-darken-1"></span>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="red-text text-darken-1"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light purple darken-2" style="width: 100%;">
                @Localizer["Set password"]
            </button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
