<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#7b1fa2">
    <link rel="icon" sizes="192x192" href="~/images/votor_logo_192.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <title>@ViewBag.Title</title>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/portal.css" />

    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/materialize.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/portal.css" />
    </environment>
    
    <style type="text/css">
        div.page-break {
            page-break-after: always;
        }

        hr {
            visibility: hidden;
        }

        p, div {
            page-break-inside: avoid;
        }

        p {
            text-align: center;
            padding: 0 10px 10px 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .card .card-content {
            padding: 0;
        }

        div .card {
            display: inline-block;
            margin: 10px;
            width: 215px;
        }

        body {
            background: none;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
