@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>This web site uses cookies to improve your experience. By using our services, you are accepting the use of cookies.</p>
        </div>
        <div class="modal-footer">
            <a asp-controller="Home" asp-action="Privacy" class="waves-effect waves-green btn-flat">Learn More</a>
            <a class="modal-close waves-effect waves-light btn cyan darken-1">Got it</a>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('.modal').modal({
                dismissible: false,
                onCloseEnd: acceptCookies
            });
            $('.modal').modal("open");
        });

        function acceptCookies() {
            document.cookie = "@cookieString";
        }
    </script>
}