<footer class="page-footer @ViewBag.secondaryColor">
	<div class="container">
		
	</div>
	<div class="footer-copyright center">
		<div class="container">
			&copy; @DateTime.Now.Year Votor
		</div>
	</div>
</footer>