@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer;
@{

    ViewData["Title"] = "Home";
}

<div class="row center">
	<h2 class="@ViewBag.cardTextColor btn-margin-top-10">VOTOR</h2>
	<h3 class="black-text center btn-margin-top-10 margin-bottom-25">@Localizer["Voting online - made easy!"]</h3>
	<img src="~/images/landing_page.png" width="100%" />
</div>

<div class="row">
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
				<span class="card-title center">@Localizer["Manage"]</span>

			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
				<span class="card-title center">Vote</span>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
				<span class="card-title center">@Localizer["Analyze"]</span>
			</div>
		</div>
	</div>
</div>



