@model string

@if (!string.IsNullOrEmpty(Model))
{
    var guid = Guid.NewGuid();
    
    <div class="col s12" id="@guid">
        <div class="card @ViewBag.cardColor">
            <div class="card-content deep-orange-text">
                
                <div class="card-title">
                    @Model
                </div>
                
                <a href="#" class="deep-orange-text votor-card-action" id="a-@guid">
                    <i class="material-icons left">close</i>
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded",
            function() {
                $("#a-@guid").on("click",
                    function() {
                        $("#@guid").remove();
                    });
            });
    </script>
}
