<footer class="page-footer @ViewBag.secondaryColor">
	<div class="container">
		<span class="chno-footer"></span>
	</div>
	<div class="footer-copyright center">
		<div class="container">
			<div class="row">
				<div class="col s4">
					<a asp-route="Privacy" class="white-text">Privacy Policy</a>
				</div>
				<div class="col s4">
					&copy; @DateTime.Now.Year Votor
				</div>
				<div class="col s4">
					<a asp-route="Terms" class="white-text">Terms of Use</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener("load", function () {
			$.get("https://api.chucknorris.io/jokes/random", function (data) {
				$(".chno-footer").text = data["value"];
			})
		});
	</script>
</footer>
