@model Controllers.EventListModel;

@{
    ViewBag.Title = Localizer["Overview"];
}

<div class="row no-margin-bottom">
    <div class="col s12 m6 l4">
        @{ await Html.RenderPartialAsync("_EventChartPartial", Model);}
    </div>

    <div class="col s12 m6 l4">
        @{ await Html.RenderPartialAsync("_CreateEventPartial", Model.CloneEventModel); }
    </div>
</div>
<div class="row no-margin-bottom">
    @{ await Html.RenderPartialAsync("_ShowEventCards", Model.Active);}
</div>