@using Votor.Areas.Portal.Controllers
@model Controllers.EventListModel;

@{
    ViewBag.Title = Localizer["Dashboard"];
}

<div class="col s12 m6 l4">
    @{ await Html.RenderPartialAsync("_CreateEventPartial", Model.CloneEventModel); }
</div>

@{ await Html.RenderPartialAsync("_ShowEventCards", Model.Events);}

<div class="col s12 m6 l4">
    @if (Model.Active.Any())
    {
        ViewBag.CardTitle = Localizer["Active Events"];
        ViewBag.EmptyCardTitle = Localizer["No active Events"];
        await Html.RenderPartialAsync("_ShowEventList", @Model.Active);
    }
</div>
<div class="col s12 m6 l4">

    @if (Model.Finished.Any())
    {
        ViewBag.CardTitle = Localizer["Finished Events"];
        ViewBag.EmptyCardTitle = Localizer["No finished Events"];
        await Html.RenderPartialAsync("_ShowEventList", @Model.Finished);
    }
</div>