@using Votor.Areas.Portal.Controllers
@model List<DashboardEventModel>

@{
    ViewBag.Title = Localizer["Drafts"];
}

<div class="row no-margin-bottom">
    @{ await Html.RenderPartialAsync("_ShowEventCards", Model);}
</div>

