@model List<Votor.Areas.Portal.Controllers.DashboardEventModel>

@{
    ViewBag.Title = Localizer["Finished Events"];
}

<div class="row no-margin-bottom">
    @{ await Html.RenderPartialAsync("_ShowEventCards", Model);}
</div>