@model List<Votor.Areas.Portal.Controllers.DashboardEventModel>

@{
    ViewBag.Title = Localizer["Finished Events"];
}

<h3> @Localizer["Finished Events"] (@Model.Count)</h3>

@{await Html.RenderPartialAsync("_ShowEventList", @Model);}
